.no-user-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.message-container {
    width: 75%;
}

.header-image img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: block;
}

.header-image {
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.message-box {
    margin: 0 0.5rem 0.5rem 0.5rem;
    position: relative;
    height: calc(100vh - 7.8rem);
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}

.send-msg-box form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.send-msg-box form input {
    width: 85%;
    height: 2.3rem;
    font-size: 1.1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin: 0.8rem 0;
    border: none;
    border-radius: 10px;
    display: block;
}

.send-msg-box form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;
    margin: 0;
}

#send-btn {
    height: 2.1rem;
    width: 2.1rem;
    font-size: 1.5rem;
    background-color: rgb(79, 79, 255);
    color: white;
    border: none;
    padding: 0.2rem;
    border: none;
    border-radius: 10px;
}

.send-msg-box form input:focus {
    outline: none;
}

.left-align,
.right-align {
    margin: 1rem 0.5rem;
}

.right-align span,
.left-align span {
    padding: 0.3rem 1rem;
    border-radius: 12px;
    width: 90%;
}

.left-align span {
    background-color: white;
    color: black;
}

.right-align span {
    background-color: var(--blue-color);
    color: white;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.message-box-container {
    height: calc(100% - 3.2rem);

    overflow-y: auto;
}

.message-box-container::-webkit-scrollbar {
    width: 2px;
}

.message-box-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.message-box-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.message-box-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message-box-container::-webkit-scrollbar-corner {
    background: transparent;
}

.send-btn-loader {
    background-color: var(--blue-color);
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-chats {
    padding-top: 20%;
    text-align: center;
}